* {
  margin: 0;
  padding: 0;
  color: #fff;

  /* Font */
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #160118;
}

button {
  background-color: inherit;
  border: none;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: initial;
}

input {
  background-color: inherit;
  border: none;

  outline: none;
}

#root {
  /* style token */
  --main-color: #db0fdb;

  --white: #ffffff;

  --strong-purple-900: #4b0b50;
  --strong-purple-800: #6c1573;

  --black-900: #160118;
  --dark-pink-800: #352638;
  --dark-pink-700: #534356;
  --dull-pink-900: #5b2950;

  --light-gray: #cbcbcb;
  --gray-purple: #867388;

  margin: 0 auto;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 414px) {
    width: 414px;
  }

  background-color: var(--black-900);
}
