:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

  /* style token */
  --main-color: #db0fdb;
  --sub-positive-color: #dfd118;
  --sub-healthy-color: #0fdb0f;

  --white: #ffffff;

  /* line color */
  --line-color-1: #ffffff;
  --line-color-2: #4b0b50;
  --line-color-3: #6c1573;
  --line-color-4: #db0fdb;

  /* background color */
  --bg-color-1: #8e6482;
  --bg-color-2: #41193b;
  --bg-color-3: #5b2950;
  --bg-color-4: #8e6482;

  /* font color */
  --font-color: #cbcbcb;

  /* inactive color */
  --inactive-color: #867388;
}
